.element__delete{
  background: url(../../../images/delete.svg) no-repeat;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-size: contain;
  cursor: pointer;
  border: none;
}

.element__delete:hover {
  opacity: .6;
}